#pic {
	float: center;
	margin-top: 120px;
}
h1{
	text-align: center;
}
form {
	text-align: centre;
}
#bod{
	background-image: url("img/115.png"); 
	background-repeat: no-repeat;
	margin-left: 20px;
	margin-right: 20px;
	font-family: "Verdana", cursive;
}	
p {
	color: "black";
	font-size: 22px;
	font-family: 'Montserrat', cursive;
	margin-left: 15px;
	margin-right: 50px;
}
#link {
	float: right;
	font-size: 28px;
	margin-top: 0px;
	margin-right: 20px;
}
a:hover{
	font-size: 30px;
	color: greenyellow;
}
a {
	text-decoration: underline;
}
#new{
	background-color: aliceblue;
}
nav {
	margin-top: 5px;
	background-color: #38559F;
}
h4 {
	text-align: center;
}
#logo {
	margin-top: 10px;
	margin-left: 5px;
}
#img {
	float: right;
}
footer {
	margin-top: 175px;
}
.row{
	margin: 0px 0px 0px -2%;
  }